## Code from Here!!

In [2]:
import pandas as pd
import os

# loop all files in the current folder
movies = [mo for mo in os.listdir(os.getcwd()) if 'csv' in mo and 'movie list' not in mo]
len(movies)

1916

In [1]:
# clean the comment and generate a new dataframe
import re

def comment_clean(cmt, movie_name):
    cmt_list = re.split(r"\", u'|\', u'|\.000Z", cmt.replace(' [],', '').replace('[', '').replace(']', ''))
    cmt_list_strip = [(comment.lstrip("\"\'").lstrip("\" u\'").lstrip("\' \"").lstrip("\"', '").rstrip("\'\"")
                      .rstrip("\"\'").replace("\\n","")).replace("\'\\\', \"", '')
                      for comment in cmt_list]
    cmt_list_clean = [item for item in cmt_list_strip][:-1]
    cmt_content = []
    cmt_time = []
    if len(cmt_list_clean)%2 != 0:
        raise Exception('incorrect length')
    for ind in range(0,len(cmt_list_clean),2):
        cmt_content.append(cmt_list_clean[ind])
        cmt_time.append(cmt_list_clean[ind+1])
    cmt_dict = dict(movie = movie_name, comment = cmt_content, time = cmt_time)
    cmt_df = pd.DataFrame(cmt_dict)
    cmt_df['time'] = pd.to_datetime(cmt_df['time'].apply(lambda x: x.replace('.000Z','')), format = '%Y-%m-%dT%H:%M:%S')
    return cmt_df


def movie_process(movie_name, selected_cols = ['countComments', 'countViews', 'countLikes', 'countDislikes']):
#     get clean movie name and read in table
    movie_name_clean = movie_name.split(' 20')[0]
    cur_movie = pd.read_csv(movie_name)
    if cur_movie.shape[0] == 0:
        return None, None
#     extract comment data
    cmt_df = None
    for cmt in cur_movie['Comments']:
        try:
            cmt_df_tmp = comment_clean(cmt, movie_name_clean)
            if cmt_df is None:
                cmt_df = cmt_df_tmp
            else:
                cmt_df = cmt_df.append(cmt_df_tmp)
        except:
            print movie_name, cmt[0:10]
            raise Exception('Unexpected comment format, check the comment content')
    
#     sum movie data
    cur_movie_select = cur_movie[selected_cols]
    cur_movie_select = cur_movie_select.assign(movie_title = movie_name_clean)
    cur_movie_sum = cur_movie_select.groupby('movie_title', as_index = False).sum()
#     cur_movie_sum = cur_movie_sum.assign(Dimension = cur_movie['Dimension'].unique())
    
    return cur_movie_sum, cmt_df

In [29]:
movie_data = None
cmt_data = None
for movie_name in movies:
    mov_tmp, cmt_tmp = movie_process(movie_name)
    if movie_data is None:
        movie_data = mov_tmp
    else:
        movie_data = movie_data.append(mov_tmp)
    if cmt_data is None:
        cmt_data = cmt_tmp
    else:
        cmt_data = cmt_data.append(cmt_tmp)

In [280]:
# write to output folder
if not os.path.exists('output'):
    os.mkdir('output')
cmt_data.to_csv('output/comments.csv', index=None)

In [30]:
movie_data.to_csv('output/movies.csv', index=None)

## processing

In [42]:
trailer_data = pd.read_csv("C:/Users/oweni/Desktop/big data/youtube/output/movies.csv")
performance_data = pd.read_csv("C:/Users/oweni/Desktop/big data/youtube/output/boxofficefinal.csv",index_col = "Movie")

In [36]:
performance_data.head()

,ID,Release Date,Movie,Production Budget,Domestic Gross,International Gross,WorldWide Gross,Domestic Blu-Ray Sales,Domestic DVD Sales,Total Domestic Video Sales,Genre,MPAA Rating,Movie Studio (Distributor)
0,1,12/18/2009,Avatar,"$425,000,000","$760,507,625","$2,023,411,357","$2,783,918,982","$162,034,656","$232,820,270","$394,854,926",Action,PG-13,20th Century Fox
1,2,12/18/2015,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$1,122,000,000","$2,058,662,225","$139,743,772","$32,462,937","$172,206,709",Adventure,PG-13,Walt Disney
2,3,5/24/2007,Pirates of the Caribbean: At World�s End,"$300,000,000","$309,420,425","$654,000,000","$963,420,425","$6,123,101","$312,315,495","$318,438,596",Adventure,PG-13,Walt Disney
3,4,11/6/2015,Spectre,"$300,000,000","$200,074,175","$679,546,748","$879,620,923","$23,637,497","$12,199,184","$35,836,681",Action,PG-13,Sony Pictures
4,5,7/20/2012,The Dark Knight Rises,"$275,000,000","$448,139,099","$636,300,000","$1,084,439,099","$80,198,499","$71,782,028","$151,980,527",Action,PG-13,Warner Bros

In [37]:
trailer_data.head()

             movie_title  countComments  countViews  countLikes  countDislikes
0                #Horror           8629    23452637       86772           4387
1    10 Cloverfield Lane           8148     9923330       32396           1211
2  10 Days in a Madhouse             41       56554         214             24
3            10th & Wolf             30       97035         140              5
4              12 Rounds             14       69078          79             11

In [46]:
full_data = trailer_data.join(performance_data, on=['movie_title'],how='inner')

In [47]:
full_data

,movie_title,countComments,countViews,countLikes,countDislikes,ID,Release Date,Production Budget,Domestic Gross,International Gross,WorldWide Gross,Domestic Blu-Ray Sales,Domestic DVD Sales,Total Domestic Video Sales,Genre,MPAA Rating,Movie Studio (Distributor)
0,#Horror,8629,23452637,86772,4387,4697,11/20/2015,"$1,500,000",$0,$0,$0,NaN,NaN,NaN,Horror,Not,NaN
1,10 Cloverfield Lane,8148,9923330,32396,1211,3909,3/11/2016,"$5,000,000","$72,082,999","$36,203,423","$108,286,422","$4,064,827","$3,215,156","$7,279,983",Thriller/Suspense,PG-13,Paramount Pictures
2,10 Days in a Madhouse,41,56554,214,24,3177,11/11/2015,"$12,000,000","$14,616",$0,"$14,616",NaN,NaN,NaN,Drama,R,Cafe Pictures
3,10th & Wolf,30,97035,140,5,3611,8/18/2006,"$8,000,000","$54,702","$89,080","$143,782",NaN,NaN,NaN,Drama,Not,inkFilm
4,12 Rounds,14,69078,79,11,2410,3/27/2009,"$20,000,000","$12,234,694","$5,071,954","$17,306,648",NaN,"$9,077,332","$9,077,332",Action,PG-13,20th Century Fox
5,12 Years a Slave,8892,6673173,15263,900,2300,10/18/2013,"$20,000,000","$56,671,993","$124,353,350","$181,025,343","$7,716,085","$16,848,324","$24,564,409",Drama,R,Fox Searchlight
6,127 Hours,9098,12634126,28113,669,2568,11/5/2010,"$18,000,000","$18,335,230","$41,881,941","$60,217,171","$2,781,183","$10,680,659","$13,461,842",Drama,R,Fox Searchlight
8,1408,601,4030368,6086,291,2195,6/22/2007,"$22,500,000","$71,985,628","$59,277,742","$131,263,370",NaN,"$49,766,172","$49,766,172",Horror,R,MGM
9,16 Blocks,52,366365,438,45,1180,3/3/2006,"$45,000,000","$36,895,141","$28,700,000","$65,595,141",NaN,"$20,191,475","$20,191,475",Action,PG-13,Warner Bros
10,16 to Life,102,142157,411,29,4856,9/3/2010,"$1,000,000","$11,574",$0,"$11,574",NaN,NaN,NaN,Romantic Comedy,Not,NaN
11,17 Again,250,1498977,4886,110,1300,4/17/2009,"$40,000,000","$64,167,069","$75,307,837","$139,474,906","$2,296,757","$32,472,999","$34,769,756",Comedy,PG-13,Warner Bros
13,1982,0,6680,23,0,4887,3/1/2016,"$1,000,000",$0,$0,$0,NaN,"$67,526","$67,526",Drama,R,NaN
14,2 Guns,146,909103,1570,58,756,8/2/2013,"$61,000,000","$75,612,460","$56,880,555","$132,493,015","$8,140,023","$12,616,908","$20,756,931",Action,R,Universal
16,2012,24975,30919242,50578,5949,48,11/13/2009,"$200,000,000","$166,112,167","$622,296,372","$788,408,539","$23,087,875","$52,100,596","$75,188,471",Action,PG-13,Sony Pictures
18,22 Jump Street,3493,7967151,64596,2408,987,6/13/2014,"$50,000,000","$191,719,337","$139,614,539","$331,333,876","$11,757,668","$14,970,748","$26,728,416",Comedy,R,Sony Pictures
19,28 Weeks Later,2978,2521046,5598,559,2807,5/11/2007,"$15,000,000","$28,638,916","$35,593,798","$64,232,714",NaN,"$24,681,478","$24,681,478",Horror,R,20th Century Fox
20,3,5027,23841677,22814,3443,3658,9/16/2011,"$7,200,000","$59,774","$235,718","$295,492",NaN,NaN,NaN,Drama,Not,Strand
21,3 Backyards,52,58737,128,53,5109,3/11/2011,"$300,000","$39,475",$0,"$39,475",NaN,NaN,NaN,Drama,R,NaN
22,3 Days to Kill,229,795625,1253,121,1880,2/21/2014,"$28,000,000","$30,697,999","$8,261,901","$38,959,900","$4,556,223","$5,959,898","$10,516,121",Thriller/Suspense,PG-13,Relativity
23,30 Days of Night,354,902297,1518,74,1752,10/19/2007,"$30,000,000","$39,568,996","$40,707,160","$80,276,156",NaN,"$28,071,476","$28,071,476",Horror,R,Sony Pictures
24,30 Minutes or Less,60,218016,412,21,1876,8/12/2011,"$28,000,000","$37,053,924","$3,912,792","$40,966,716","$2,290,838","$11,672,943","$13,963,781",Comedy,R,Sony Pictures
26,300,47289,41598878,93395,4595,760,3/9/2007,"$60,000,000","$210,614,939","$243,546,996","$454,161,935","$7,240,463","$276,582,852","$283,823,315",Action,R,Warner Bros
28,42,3628,3156159,10251,317,1272,4/12/2013,"$40,000,000","$95,020,213","$2,450,488","$97,470,701","$11,706,779","$22,327,009","$34,033,788",Drama,PG-13,Warner Bros
29,47 Ronin,10384,17903439,44993,2028,88,12/25/2013,"$175,000,000","$38,362,475","$113,354,340","$151,716,815","$9,173,024","$7,444,191","$16,617,215",Action,PG-13,Universal
30,5 Days of War,947,934779,1130,623,3176,8/19/2011,"$12,000,000","$17,479","$70,314","$87,793",NaN,NaN,NaN,Drama,R,Anchor Bay Entertainment
32,51 Birch Street,0,2490,4,0,5090,10/18/2006,"$350,000","$84,689",$0,"$84,689",NaN,NaN,NaN,Documentary,Not,NaN
33,8 Days,39,104487,243,14,4450,10/13/2015,"$2,500,000",$0,$0,$0,NaN,NaN,NaN,Drama,PG-13,NaN
34,88 Minutes,104,592941,414,46,1792,4/18/2008,"$30,000,000","$16,930,884","$16,024,515","$32,955,399",NaN,"$13,863,111","$13,863,111",Thriller/Suspense,R,Sony Pictures
35,9,31055,45401801,140553,8725,1767,9/9/2009,"$30,000,000","$31,749,894","$16,810,105","$48,559,999","$5,630,185","$11,518,254","$17,148,439",Adventure,PG-13,Focus Features
36,90 Minutes in Heaven,700,706893,1402,261,3984,9/11/2015,"$5,000,000","$4,816,142",$0,"$4,816,142",NaN,NaN,NaN,Drama,PG-13,Samuel Goldwyn Films
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,Witless Protection,105,81261,472,42,3639,2/22/2008,"$7,500,000","$4,151,836",$0,"$4,151,836",NaN,"$18,708,515","$18,708,515",Comedy,PG-13,Lionsgate
1887,Wolves,1937,7553373,14905,1736,2614,11/14/2014,"$18,000,000",$0,$0,$0,NaN,"$1,478,959","$1,478,959",Horror,R,Ketchup Entertainment
1888,Woman in Gold,7,29566,120,5,3208,4/1/2015,"$11,000,000","$33,307,793","$23,450,345","$56,758,138","$790,917","$3,045,774","$3,836,691",Drama,PG-13,Weinstein Co
1889,Womb,538,1692162,2435,309,3051,3/30/2012,"$13,000,000",$0,$0,$0,NaN,NaN,NaN,Drama,Not,Olive Films
1890,Won't Back Down,21,75122,479,14,2515,9/28/2012,"$19,000,000","$5,310,554","$404,359","$5,714,913",NaN,NaN,NaN,Drama,PG,20th Century Fox
1891,Wordplay,11,71039,74,13,4997,6/16/2006,"$500,000","$3,121,270","$56,366","$3,177,636",NaN,NaN,NaN,Documentary,PG,NaN
1892,World Trade Center,2423,3126256,6838,365,712,8/9/2006,"$65,000,000","$70,278,893","$93,016,761","$163,295,654",NaN,"$36,986,330","$36,986,330",Drama,PG-13,Paramount Pictures
1893,World War Z,25519,25045830,60552,4574,56,6/21/2013,"$190,000,000","$202,359,711","$329,154,939","$531,514,650","$35,694,081","$22,234,205","$57,928,286",Action,PG-13,Paramount Pictures
1894,World's Greatest Dad,203,308996,769,32,3405,8/21/2009,"$10,000,000","$221,805","$73,945","$295,750",NaN,NaN,NaN,Black Comedy,R,Magnolia Pictures
1895,Wrath of the Titans,8190,13656733,21990,1254,152,3/30/2012,"$150,000,000","$83,670,083","$221,600,000","$305,270,083","$15,199,883","$20,367,667","$35,567,550",Adventure,PG-13,Warner Bros
1896,Wreck-It Ralph,9230,11461814,28143,1971,104,11/2/2012,"$165,000,000","$189,412,677","$307,098,844","$496,511,521","$60,572,991","$63,940,348","$124,513,339",Adventure,PG,Walt Disney
1897,X-Men: The Last Stand,3542,8726955,20418,1184,29,5/26/2006,"$210,000,000","$234,362,462","$224,997,093","$459,359,555","$1,043,087","$144,968,531","$146,011,618",Action,PG-13,20th Century Fox
1898,Year One,844,1714554,2298,248,818,6/19/2009,"$60,000,000","$43,337,279","$14,267,444","$57,604,723","$1,967,455","$17,250,109","$19,217,564",Comedy,PG-13,Sony Pictures
1899,Yeh Jawaani Hai Deewani,2494,11656795,33476,3013,3539,5/31/2013,"$8,300,000","$3,827,466","$47,000,000","$50,827,466",NaN,NaN,NaN,NaN,Not,Eros Entertainment
1900,Yesterday Was a Lie,11,11475,9,1,5193,1/17/2008,"$200,000",$0,$0,$0,NaN,NaN,NaN,Drama,PG,NaN
1901,Yoga Hosers,3697,1791790,9389,10149,4023,9/2/2016,"$5,000,000",$0,"$2,199","$2,199","$48,435","$10,444","$58,879",Adventure,PG-13,Invincible Pictures
1902,Yogi Bear,81,301770,287,41,496,12/17/2010,"$80,000,000","$100,246,011","$104,528,679","$204,774,690","$5,146,656","$17,733,221","$22,879,877",Adventure,PG,Warner Bros
1903,You Again,5747,20103533,58548,1644,2355,9/24/2010,"$20,000,000","$25,702,053","$7,136,892","$32,838,945","$2,146,824","$11,143,503","$13,290,327",Comedy,PG,Walt Disney
1904,You Kill Me,541,3710419,8614,399,4151,6/22/2007,"$4,000,000","$2,426,851","$1,432,113","$3,858,964",NaN,NaN,NaN,Black Comedy,R,IFC Films
1905,You Will Meet a Tall Dark Stranger,28,135954,93,20,2877,9/22/2010,"$15,000,000","$3,247,816","$31,000,000","$34,247,816",NaN,NaN,NaN,Drama,R,Sony Pictures Classics
1906,Your Sister's Sister,72,332215,312,30,5227,6/15/2012,"$120,000","$1,597,486","$1,493,107","$3,090,593",NaN,NaN,NaN,Drama,R,NaN
1907,Youth in Revolt,687,1252292,2516,250,2575,1/8/2010,"$18,000,000","$15,285,588","$4,400,000","$19,685,588","$658,495","$5,941,619","$6,600,114",Comedy,R,Weinstein/Dimension
1908,Zambezia,198,788488,808,356,2476,12/31/2012,"$20,000,000",$0,"$34,454,631","$34,454,631",NaN,NaN,NaN,Comedy,G,NaN
1909,Zero Dark Thirty,242,509731,754,75,969,12/19/2012,"$52,500,000","$95,720,716","$38,891,719","$134,612,435","$5,738,106","$7,967,019","$13,705,125",Drama,R,Sony Pictures
1910,Zipper,148,1009553,874,110,4091,8/28/2015,"$4,500,000",$0,$0,$0,NaN,NaN,NaN,Thriller/Suspense,R,Alchemy
1911,Zodiac,245,592493,1149,42,457,3/2/2007,"$85,000,000","$33,080,084","$50,000,000","$83,080,084",NaN,"$21,139,119","$21,139,119",Thriller/Suspense,R,Paramount Pictures
1912,Zombie Hunter,410,1038377,1691,217,4881,10/8/2013,"$1,000,000",$0,$0,$0,NaN,NaN,NaN,Action,NaN,NaN
1913,Zombieland,1474,5296885,9953,603,2164,10/2/2009,"$23,600,000","$75,590,286","$26,646,310","$102,236,596","$15,884,189","$39,773,798","$55,657,987",Comedy,R,Sony Pictures
1914,[Rec] 2,4682,7475542,7551,903,3870,7/9/2010,"$5,600,000","$27,766","$18,500,000","$18,527,766",NaN,NaN,NaN,NaN,R,Magnolia Pictures
1915,[Rec],3069,11940297,10498,837,4481,7/14/2009,"$2,100,000",$0,"$23,266,821","$23,266,821",NaN,NaN,NaN,Horror,R,NaN

In [48]:
full_data.to_csv('output/full.csv', index=None)